<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.binhao.drive.manager.mapper.AccountUserInfoMapper">

    <select id="selectList" parameterType="com.binhao.drive.manager.query.AccountUserInfoQuery"
    resultType="com.binhao.drive.manager.vo.AccountUserInfoVO">

        SELECT a.*,b.user_name,b.user_account FROM drive_userinfo as a INNER JOIN drive_user as b on a.fk_user_id = b.id
        WHERE a.is_deleted = 0 AND b.is_deleted = 0
        <if test="userName!=null and userName!=''">
        and b.user_name LIKE concat('%',#{userName},'%')
        </if>
        <if test="userAccount!=null and userAccount!=''">
            and b.user_account LIKE concat('%',#{userAccount},'%')
        </if>
        order by b.gmt_create desc

    </select>

    <select id="selectById" parameterType="String"
            resultType="com.binhao.drive.manager.vo.AccountUserInfoVO">
        SELECT a.*,b.user_name,b.user_account FROM drive_userinfo as a INNER JOIN drive_user as b on a.fk_user_id = b.id
        WHERE a.is_deleted = 0 AND b.is_deleted = 0
        and a.id = #{id}
    </select>

    <select id="selectByUserId" parameterType="String"
            resultType="com.binhao.drive.manager.vo.AccountUserInfoVO">
        SELECT a.*,b.user_name FROM drive_userinfo as a INNER JOIN drive_user as b on a.fk_user_id = b.id
        WHERE a.is_deleted = 0 AND b.is_deleted = 0
          and b.id = #{userId}
    </select>

</mapper>
