<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.binhao.drive.manager.mapper.StudentMapper">

    <select id="selectList" parameterType="com.binhao.drive.manager.query.StudentQuery"
    resultType="com.binhao.drive.manager.vo.StudentVO">

        SELECT a.*,b.user_name,b.user_account,c.`name` as 'teacher_name' FROM drive_student as a INNER JOIN drive_user as b on a.fk_user_id = b.id
        Left join drive_teacher as c on c.id = a.fk_teacher_id
        WHERE a.is_deleted = 0 AND b.is_deleted = 0
        <if test="userName!=null and userName!=''">
        and b.user_name LIKE concat('%',#{userName},'%')
        </if>
        <if test="userAccount!=null and userAccount!=''">
            and b.user_account LIKE concat('%',#{userAccount},'%')
        </if>
        order by b.gmt_create desc

    </select>

    <select id="selectById" parameterType="String"
            resultType="com.binhao.drive.manager.vo.StudentVO">
        SELECT a.*,b.user_name,b.user_account,c.`name` as 'teacher_name' FROM drive_student as a INNER JOIN drive_user as b on a.fk_user_id = b.id
        Left join drive_teacher as c on c.id = a.fk_teacher_id
        WHERE a.is_deleted = 0 AND b.is_deleted = 0
        and a.id = #{id}
    </select>

    <select id="selectByUserId" parameterType="String"
            resultType="com.binhao.drive.manager.vo.StudentVO">
        SELECT a.*,b.user_name FROM drive_student as a INNER JOIN drive_user as b on a.fk_user_id = b.id
        WHERE a.is_deleted = 0 AND b.is_deleted = 0
          and b.id = #{userId}
    </select>


    <update id="updateTwoTable" parameterType="hashmap">
        UPDATE drive_student as b inner JOIN drive_user as a on a.id = b.fk_user_id
        <set>
            <if test="userName!=null and userName!=''">
                a.user_name = #{userName},
            </if>
            <if test="userAccount!=null and userAccount!=''">
                a.user_account= #{userAccount},
            </if>
            <if test="userPassword!=null and userPassword!=''">
                a.user_password=#{userPassword},
            </if>
            <if test="fkTeacherId!=null and fkTeacherId!=''">
                b.fk_teacher_id = #{fkTeacherId},
            </if>
            <if test="picture!=null and picture!=''">
                b.picture = #{picture},
            </if>
            <if test="sex!=null">
                b.sex = #{sex},
            </if>
            <if test="card!=null and card!=''">
                b.card = #{card},
            </if>
            <if test="plan!=null">
                b.plan = #{plan},
            </if>
            <if test="memo!=null and memo!=''">
                b.memo = #{memo},
            </if>
                b.version = b.version+1,
                b.gmt_modified= CURRENT_TIMESTAMP ,
                b.update_user_id = #{updateUserId},
                b.update_user_name = #{updateUserName}
        </set>
        where b.id = #{id} and b.version = #{version}
    </update>

    <update id="deleteData">
        UPDATE drive_student as b inner JOIN drive_user as a on a.id = b.fk_user_id
        set a.is_deleted=1,
            b.is_deleted=1,
            b.version = b.version+1,
            b.gmt_modified= CURRENT_TIMESTAMP
        where b.id in
          <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
              #{item}
          </foreach>
    </update>

    <update id="resetPwd" parameterType="String">
        UPDATE drive_student as b inner JOIN drive_user as a on a.id = b.fk_user_id
        set a.user_password = #{pwd},
            b.version = b.version+1,
            b.gmt_modified= CURRENT_TIMESTAMP
        where b.id = #{id}
    </update>
</mapper>
