<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.binhao.drive.manager.mapper.TeacherMapper">

    <update id="deleteData" parameterType="map">
        update drive_teacher set is_deleted = 1 where id in
        <foreach collection="ids" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <select id="selectMySub" parameterType="com.binhao.drive.manager.query.MySubQuery"
            resultType="com.binhao.drive.manager.vo.MySubVO">
        select a.*,b.user_name,b.user_account,c.email,c.plan FROM drive_coursesubscribe as a
        INNER JOIN drive_user as b on a.fk_user_id = b.id
        INNER JOIN drive_student as c on a.fk_user_id = c.fk_user_id
        WHERE a.is_deleted = 0 and b.is_deleted = 0 and c.is_deleted = 0 AND c.fk_teacher_id = #{teacherId}
        <if test="isResponse!=null">
            and a.is_response = #{isResponse}
        </if>
    </select>
</mapper>
